# 01. Importing Libraries

In [1]:
#Importing Libraries for Task 4.6 A

import pandas as pd
import numpy as np
import os

# 02. Importing Datasets

In [2]:
#Creating a Folderpath for 'order_products__prior'

path ='/users/ibu/Documents/12-2022 Instacart Basket Analysis'

In [3]:
path

'/users/ibu/Documents/12-2022 Instacart Basket Analysis'

In [5]:
#Importing the 'order_products__prior' Dataset from 'Original Data' Folder

df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [6]:
#Checking Dataframe Dimensions

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [18]:
#Importing the 'orders_wrangled.csv' Dataset from 'Prepared Data' Folder

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_clean_data.csv'), index_col = False)

In [9]:
#Importing the 'orders_wrangled.csv' Dataset from 'Prepared Data' Folder

df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

In [19]:
#Check the Output

df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [12]:
df_ords_prior.shape

(32434489, 4)

In [13]:
df_ords.shape

(3421083, 7)

# 03. Merging the two Orders Dataset

In [20]:
#Merging of the two order Datasets; Orders Data & Orders Prior Data

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [21]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [17]:
# Checking out Output

df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [22]:
df_merged_large.shape

(32434489, 11)

# 04. Exporting Merged Orders Dataset

In [23]:
#Export Data to csv

df_merged_large.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.csv'))

In [24]:
#Export Data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))