# 01. Importing Libraries

In [1]:
#Importing Libraries for Task 4.6 A

import pandas as pd
import numpy as np
import os

# 02. Creating a String Folderpath

In [2]:
#Creating a Folderpath for 'orders_products_combined'

path ='/users/ibu/Documents/12-2022 Instacart Basket Analysis'

In [3]:
path

'/users/ibu/Documents/12-2022 Instacart Basket Analysis'

# 03. Importing 'Orders_Products_Combined' Pickel Dataset

In [6]:
#Importing the 'order_products_combined' Dataset from 'Prepared Data' Folder

df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [7]:
#Checking 'Orders_Products_Combined' Columns

df_orders_products_combined.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [20]:
#Checking Output for'Orders_Products_Combined' Dataset

df_orders_products_combined.shape

(32434489, 10)

# 04. Importing 'Products' Dataset

In [9]:
#Importing 'Products.csv' Dataset

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_clean_data.csv'))

In [10]:
#Checking 'Products_Clean_Data' Dataframe Columns

df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

Noted: Product_id the value present in both dataset

In [11]:
#Checking Shape

df_prods.shape

(49672, 6)

# 05. Merging of 'Orders_Products_Combined' and 'Products_Clean_Data'

In [15]:
df_orders_products_combined = df_orders_products_combined.drop(columns = ['_merge'])

In [16]:
#Merging of the two order Datasets; 'Orders Products Combined' & 'Products Cleaned'

df_orders_products_merged = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

In [18]:
# Checking out Output

df_orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [23]:
#Checking for Merge Flag

df_orders_products_merged.shape

(32404859, 16)

In [26]:
#Checking Columns for Merged Orders_Products Dataset:

df_orders_products_merged.head()

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

# 06. Exporting 'Orders_Products_Merged' Dataset

In [27]:
#Export Data to pkl

df_orders_products_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_T46.pkl'))

In [25]:
#Export Data to csv

df_orders_products_merged.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.csv'))